body {
    margin: 0;
    background-color: rgb(219, 214, 214)
}

.headbg {
    background-image: url(work-img/espresso.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;

}
.welcome{
    font-size: 35px;
}
.cof-junkie{
    font-size: 60px;
}
.orderr{
    font-size: 40px;
}
.coflist h5 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.card {
    background-color: rgb(233, 225, 210);
}

.card p {
    font-size: 20px;
}

.midbg {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.discount {
    background-image: url(work-img/dark+kiss+background.webp);
    background-size: cover;
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .headbg{
        height: 80vh;
    }
.cof-junkie{
    font-size: 50px;
    }
    .orderr{
        font-size: 28px;
    }
 .headbg .mt-3{
    font-size: 20px;
 }
}