body {
    margin: 0;
    background-color: rgb(219, 214, 214)
}

.headbg {
    background-image: url(work-img/espresso.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;

}

.coflist h5 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.card {
    background-color: rgb(233, 225, 210);
}

.card p {
    font-size: 20px;
}

.midbg {
    font-size: 30px;
    display: flex;
    justify-content: center;
}