@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.contbg {
      background-image: url(bodyBcg.jpeg);
}

.textnimg p {

      font-family: "Cookie", cursive;
      font-size: 70px;

}

.box {
      overflow: hidden;
      position: relative;
}

.box a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
      color: inherit;
      z-index: 1;
}

.overlay-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;
}

.box:hover img {
      transform: scale(1.1);
      filter: brightness(0.4);
}

.box:hover .overlay-icon {
      opacity: 1;
}

.box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
}

.grid-container {
      gap: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 200px 200px 200px 200px;
      grid-template-areas:
            "box-1 box-1 box-2 box-3"
            "box-1 box-1 box-4 box-4"
            "box-5 box-6 box-7 box-7"
            "box-8 box-9 box-7 box-7";
}

@media (max-width: 768px) {
      .grid-container {
            display: flex;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: initial;
            flex-direction: column;
      }

      .grid-container.box {
            height: 250px;
            width: 100%;
      }
}

.box img {
      transition: all 1.5s ease;
}

.box img:hover {
      transform: scale(1.2);
}

.overlay-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* لتوسيط الأيقونة تمامًا */
      opacity: 0;
      /* إخفاء الأيقونة في الحالة العادية */
      transition: opacity 0.3s ease;
      /* جعل الظهور سلسًا */
      color: white;
      /* لون الأيقونة */
      font-size: 48px;
      /* حجم الأيقونة */
      /* يمكنك إضافة خلفية شفافة للأيقونة إذا أردت */
      /* background-color: rgba(0, 0, 0, 0.5); */
      /* padding: 20px; */
      /* border-radius: 50%; */
      pointer-events: none;
      /* لضمان عدم تداخل الأيقونة مع أحداث الماوس على الصورة */
}

/* تأثير عند مرور الماوس على الحاوية */
.image-container:hover .overlay-icon {
      opacity: 1;
      /* إظهار الأيقونة */
}

/* تأثير اختياري: تكبير الصورة قليلاً عند المرور */
.image-container:hover .main-image {
      transform: scale(1.1);
}