@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.contbg {
      background-image: url(bodyBcg.jpeg);
      background-size: cover;
      background-position: center;
}

.textnimg p {

      font-family: "Cookie", cursive;
      font-size: 70px;

}

.box {
      overflow: hidden;
      position: relative;
}

.box a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
      color: inherit;
      z-index: 1;
}

.box:hover img {
      transform: scale(1.1);
      filter: brightness(0.6);
}

.box:hover .overlay-icon {
      opacity: 1;
}

.box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
}

.grid-container {
      gap: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 200px 200px 200px 200px;
      grid-template-areas:
            "box-1 box-1 box-2 box-3"
            "box-1 box-1 box-4 box-4"
            "box-5 box-6 box-7 box-7"
            "box-8 box-9 box-7 box-7";
}

@media (max-width: 768px) {
      .grid-container {
            display: flex;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: initial;
            flex-direction: column;
      }

      .grid-container .box {
            height: 250px;
            width: 100%;
      }
}

.box img {
      transition: all 1.5s ease;
}

.box img:hover {
      transform: scale(1.2);
}

.overlay-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
      color: white;
      font-size: 48px;
      pointer-events: none;
}
.cafe{
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
}