body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.work-section {
  width: 80%;
  margin: 60px auto;
  padding: 40px;
  border-radius: 8px;
}


.section-title {
  font-size: 26px;
  font-weight: bold;
}

.title-line {
  width: 60px;
  height: 3px;
  background: #f4a100;
  margin: 10px 0 30px 0;
}


.main-box {
  display: flex;
  gap: 30px;
}


.image-box {
  width: 65%;
}

.image-box img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 6px;
}


.text-box {
  width: 35%;
}

.item {
  display: block;
  margin-bottom: 25px;
  padding-top: 30px;
  margin-left: 200px;

}

.item span {
  font-size: 25px;
  color: #f4a100;
}

.item h4 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: px;
}

.item p {
  font-size: 20px;
  color: #a9b2ac;
  display: flex;
  align-items: center;
}
li {
  list-style-type: none;
  
}
iframe {
  width: 100% ;
  height: 100%;
}

@media (max-width:768px) {
  .main-box {
    flex-direction: column;
  }
 
  .image-box,
  .text-box {
    width: 100%;
  }

  .image-box img {
    height: 250px;
  }
}
