body{
    margin: 0;
    padding: 0;
}
.free-coffee{
    background-color: #1d0d03;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'Montserrat' sans-serif;
}
 .free-drink {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.main-title,.footer-title{
font-family: 'La Belle Aurore' ,cursive;
color: #C59401;
font-size: 3rem;
margin-bottom: 40px;
}


.footer-title{
    margin-top: 50px;
    font-size: 2.5rem;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap:15px ;
}
.input-group input{
    width: 100%;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #3d220b;
    color: #FFF8F0;
    font-size: 1rem;
    box-sizing: border-box;
    box-shadow: inset 4px 4px 10px rgba(0,0,0,0.5);
    inset: -2px -2px 5px rgba(255,255,255,0.05);
}
.input-group input::placeholder{
    color: #A77C37;
}
.signup-btn{
    background-color: #D3AF37;
    color: #2e1709;
    border: none;
    padding: 15PX;
    border-radius: 10PX;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition:background 0.3s ease;
    margin-top: 10px;
}
.signup-btn:hover{
    background-color: #F2CF0D;
}