@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

.about {
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

h3 {
    border-bottom: 4px solid #ffc107;
    display: inline-block;
    padding-bottom: 5px;
    font-family: "Momo Signature", cursive;
    font-style: normal;
    color: #5a3d2e;
}

.coffee1-img {
    width: 500px;
    height: auto;
    display: block;
    margin-top: auto;
}

.coffee2-img {
    width: 500px;
    height: auto;
    display: flex;
    margin-left: auto;
}

p {
    color: #783a3a;
    font-family: "Playwrite NZ Basic", cursive;
}

.btn-custom {
    background-color: #7a5e4a;
    color: white;
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
}

.btn-custom:hover {
    background-color: #4b3627;
}

.services {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service .icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}